<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    <servlet>
        <servlet-name>Ch3 Beer</servlet-name>
        <servlet-class>com.example.web.BeerSelect</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>OutstreamEx</servlet-name>
        <servlet-class>com.example.web.OutstreamEx</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MultipleChoice</servlet-name>
        <servlet-class>com.example.web.MultiChoiceEx</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RedirectEx</servlet-name>
        <servlet-class>com.example.web.RedirectExample</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Ch3 Beer</servlet-name>
        <url-pattern>/SelectBeer.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>OutstreamEx</servlet-name>
        <url-pattern>/OutstreamEx.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MultipleChoice</servlet-name>
        <url-pattern>/MultipleParam.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RedirectEx</servlet-name>
        <url-pattern>/RedirectEx.do</url-pattern>
    </servlet-mapping>
</web-app>
